{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->
<link rel="stylesheet" type="text/css" href="/public/static/select/MultiPicker/MultiPicker.css?rev=@@hash"/>
<style>
  h4{
    margin: 0;
  }
  p{
    margin: 0;
  }
  .form-control{
    display: inline-block;
    width: 40%;
  }
  .changcity{

    margin: 0;
    padding: 0;
  }
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        出行小怪兽
        <small>拼车就这这么随意</small>
      </h1>

    </section>

      <div class="box-body">
        <div class="form-group">

        </div>
        <center>
          <form action="{:url('index/line/creatline')}">
        <div class="form-group">
          <div class="col-sm-12 changcity">
            <button type="button" id="startcitybutton" class="btn btn-success btn-sm">出发地</button>

            <input type="text"  style="display: none" class="form-control" id="startcity"  placeholder="请选择">
            <svg t="1497624366591" class="icon" style="width: 2em; height: 2em;vertical-align: middle;fill: currentColor;margin-top: -12px;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2510"><path d="M392.704 325.12L326.656 399.872h505.344c17.92 0 31.744 14.336 31.744 31.744 0 17.92-14.336 31.744-31.744 31.744H170.496c-10.24 0-14.336-13.312-5.632-18.944l214.528-135.68c9.728-5.632 20.992 7.168 13.312 16.384zM631.296 698.88l65.536-74.752H192c-17.92 0-31.744-14.336-31.744-31.744 0-17.92 14.336-31.744 31.744-31.744h661.504c10.24 0 14.336 13.312 5.632 18.944l-214.528 135.68c-9.728 5.632-20.992-7.168-13.312-16.384z" fill="#1296db" p-id="2511"></path></svg>



            <button type="button" id="endcitybutton" class="btn btn-success btn-sm">目的地</button>
            <input type="text" style="display: none" class="form-control" id="endcity" placeholder="请选择">
          </div>
          <span style="position: relative;font-size: 0.1em;   top: -14px;">切换</span>



        </div>
            <div class="col-sm-6 ">

              <button type="submit"  class="btn btn-block btn-warning btn-sm" style="width: 40%">查询路线</button>

            </div>
          </form>
        </center>



    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h4>平顶山</h4>
                <p class="boxp">到</p>
              <h4>郑州</h4>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h4>郑州</h4>
              <p class="boxp">到</p>
              <h4>平顶山</h4>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h4>南阳</h4>
              <p class="boxp">到</p>
              <h4>郑州</h4>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h4>郑州</h4>
              <p class="boxp">到</p>
              <h4>南阳</h4>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->


    </section>
    <!-- /.content -->
  </div>
<div id="targetContainer"></div>
<div id="targetContainer2"></div>

<script src="/public/static/select/MultiPicker/city.js"></script>
<script src="/public/static/select/MultiPicker/time.js"></script>
<script src="/public/static/select/MultiPicker/MultiPicker.js"></script>

<script>

    //开始城市按钮
    new MultiPicker({
        input: 'startcitybutton',//点击触发插件的input框的id
        container: 'targetContainer',//插件插入的容器id
        jsonData: $city,
        success: function (arr) {
         var temp=  delarr(arr,"startcity")
            temp=temp.split("-")
            console.log(temp)
            temp=temp[temp.length-1]
            $("#startcitybutton").html(temp)


        }//回调
    });
    //---------------------函数调用结束---------------------
    //结束城市按钮
    new MultiPicker({
        input: 'endcitybutton',//点击触发插件的input框的id
        container: 'targetContainer2',//插件插入的容器id
        jsonData: $city,
        success: function (arr) {
            var temp= delarr(arr,"endcity")
            temp=temp.split("-")
            temp=temp[temp.length-1]
            $("#endcitybutton").html(temp)

        }//回调
    });
    function delarr(arr,buttonid) {
        var temp="";
        var num=arr.length

        if(num==3){
            var p=["省","市",""]
        }else{
            var p=["市",""]
        }

        for(x in arr){


            if(arr[x].value!="请选择"){
                temp+=arr[x].value+p[x]+"-"
            }

        }

        temp=temp.substr(0, temp.length - 1);

        document.getElementById(buttonid).value = temp


       return temp




    }

</script>
  <!-- /.content-wrapper -->
  {include file="footer" /}

