{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->
<link rel="stylesheet" type="text/css" href="/public/static/select/MultiPicker/MultiPicker.css?rev=@@hash"/>
<style>
  h4{
    margin: 0;
  }
  p{
    margin: 0;
  }
  .form-control{
    display: inline-block;
    width: 40%;
  }
  .changcity{

    margin: 0;
    padding: 0;
  }
  .btn-success{
    height: 2em;
    font-size: 1.5em;
  }
  .btn-warning{
    font-size: 1.5em;
  }
  .btn{
    margin-top: 10px;
  }

</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {:config("appname")}
        <small>管理后台:车主信息审核</small>
      </h1>

    </section>

      <div class="box-body">
        <div class="form-group">

        </div>
        <center>

          {foreach $coms as $com}
          <div class="col-sm-12">
            <div class="box box-solid">
              <div class="box-body">
                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                  投诉原因:{$com.content}
                </h4>
                <div class="media">
                  <div class="media-left">
                        投诉人:{$com.complainername}
                        联系电话:<a href="tel:{$com.complainertel}">{$com.complainertel}</a>
                      <img src="{$com.complainercard}" alt="暂无图片" class="media-object" style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">

                    <a href="{:url('/admin/complain/nodetail/id/'.$com.id)}" class="btn btn-success btn-xs">
                      投诉无效
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="clearfix">
                      <p class="pull-right">
                        被投诉人:{$com.complainedname}
                        联系电话:<a href="tel:{$com.complainedtel}">{$com.complainedtel}</a>
                          <img src="{$com.complainedcard}" alt="暂无图片" class="media-object" style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">

                      </p>

                        <a href="#" class="btn btn-success btn-xs ju"  data-toggle="modal" data-id="{$com.id}" data-target="#modal-ju">
                          选择处罚
                        </a>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {/foreach}

        </center>



  </div>









    <button type="button" id="modal" style="display: none" class="btn btn-default" data-toggle="modal" data-target="#modal-default">

    </button>
    <div class="modal fade in" id="modal-default" style="display: none; padding-right: 17px;">
      <div class="modal-dialog" style="    margin-top: 16em;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">图片详情</h4>
          </div>
          <div class="modal-body">
            <img id="headurl" style="width: 100%">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade in" id="modal-ju" style="display: none; padding-right: 17px;">
      <div class="modal-dialog" style="    margin-top: 16em;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">选择处罚</h4>
          </div>
          <form action="{:url('admin/complain/docomplain')}">
          <div class="modal-body">

            <input style="display: none" id="juid" name="id">
            <div class="form-group">

              <select required name="fengtime" class="form-control">
                <option value="10">封号10天</option>
                <option value="30">封号30天</option>
                <option value="1000">永久封号</option>

              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-default ">提交</button>
          </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
<script>
$(".media-object").click(function () {
    var url=$(this).attr("src")
    $("#headurl").attr("src",url)


    $("#modal").click();
})

  $(".ju").click(function () {
     $("#juid").val( $(this).data("id"))
  })

</script>
  <!-- /.content-wrapper -->
  {include file="footer" /}

