{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->
<link rel="stylesheet" type="text/css" href="/public/static/select/MultiPicker/MultiPicker.css?rev=@@hash"/>
<style>
  h4{
    margin: 0;
  }
  p{
    margin: 0;
  }
  .form-control{
    display: inline-block;
    width: 40%;
  }
  .changcity{

    margin: 0;
    padding: 0;
  }
  .btn-success{
    height: 51px;
    font-size: 2em;
  }
  .btn-warning{
    font-size: 1.5em;
  }

</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {:config("appname")}
        <small>管理后台</small>
      </h1>

    </section>

      <div class="box-body">
        <div class="form-group">

        </div>
        <center>



        </center>



  </div>
<div id="targetContainer"></div>
<div id="targetContainer2"></div>

<script src="/public/static/select/MultiPicker/city.js"></script>
<script src="/public/static/select/MultiPicker/time.js"></script>
<script src="/public/static/select/MultiPicker/MultiPicker.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<script>



</script>
  <!-- /.content-wrapper -->
  {include file="footer" /}

