{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->


<!-- Content Wrapper. Contains page content -->
<style>
    .form-control{
        display: inline-block;
        width: 70%;
    }
    .btn{
        margin-top: -3px;
    }
    label{
        position: relative;
        top: -48px;
        margin-right: 1.1em;
        margin-left: 0.7em;
    }
    #line{
        height: 100px;
    }
    p{
        font-size: 1.1em;
    }
    .box.box-default {
        border-top-color: #FFFFFF;
    }


</style>
<link rel="stylesheet" type="text/css" href="/public/static/select/MultiPicker/MultiPicker.css?rev=@@hash"/>



<div class="content-wrapper">

    <div class="box box-info">

        <!-- /.box-header -->
        <!-- form start -->
        <div class="box box-default collapsed-box">

            <div class="box-header with-border">
                <div class="col-xs-4"><h3 class="box-title">发布路线</h3></div>
                <div class="col-xs-4 col-xs-offset-4">  <h3 class="box-title">常用路线</h3></div>


                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" style="margin-top: 0" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               郑州-平顶山
            </div>
            <div class="box-body">
                郑州-平顶山
            </div>
            <div class="box-body">
                郑州-平顶山
            </div>

        </div>


        <form class="form-horizontal" id="road">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" id="startcitybutton" class="btn btn-success btn-sm">出发地</button>
                        <input type="text" name="start" class="form-control" id="startcity"  placeholder="请输入">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" id="endcitybutton" class="btn btn-success btn-sm">目的地</button>
                        <input type="text" name="to" class="form-control" id="endcity" placeholder="请输入">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" id="timebutoon" style="margin-left: 12px" class="btn btn-success btn-sm">时间</button>
                        <input type="text" name="time" class="form-control" id="time" placeholder="请输入">
                    </div>
                </div>

<center>
    <div  class="row" style="margin-bottom: 10px">
                <button type="button" data-fangan="0" style="padding: 2px" class="btn btn-info btn-sm fangan">时间最短</button>
                <button type="button" data-fangan="9" style="padding: 2px" class="btn btn-info btn-sm fangan" >不走高速</button>
                <button type="button" data-fangan="2" style="padding: 2px" class="btn btn-info btn-sm fangan">距离最短</button>
    </div>
</center>
                <div class="form-group">
                    <div class="col-sm-12">
                    <label for="line" class="control-label">路线:</label>
                    <textarea  class="form-control" name="road" id="line" placeholder="请输入"></textarea>
                    </div>

                </div>
                <input type="hidden" name="distance" id="distance">

                <div class="col-sm-12">
                    <p >路线不对?您可以直接修改 也可以<button type="button"  style="padding: 2px" class="btn btn-danger btn-sm">点我</button>重置</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button"  style="margin-left: 12px" class="btn btn-default btn-sm">费用</button>
                        <input type="text" name="money" class="form-control"  placeholder="请输入">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button"  style="margin-left: 12px" class="btn btn-default btn-sm">车型</button>
                        <input type="text" name="car" class="form-control"  placeholder="请输入">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button"  style="margin-left: 12px" class="btn btn-default btn-sm">余座</button>
                        <input type="text" name="seat"   id="seatinput" class="form-control" placeholder="请输入">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" id="" style="margin-left: 12px" class="btn btn-default btn-sm">备注</button>
                        <input type="text" name="remark" class="form-control"  placeholder="请输入">
                    </div>
                </div>
                <input type="hidden" name="startcity" id="fromstartcity">
                <input type="hidden" name="endcity" id="fromendcity">




            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-default">取消</button>
                <button type="button" id="tijiao" class="btn btn-info pull-right">提交</button>
            </div>
            <!-- /.box-footer -->
        </form>
        <input hidden id="startline" >
        <input hidden id="endline" >
    </div>


    <div id="container"></div>
    <div id="panel"></div>

    <div id="targetContainer"></div>
    <div id="targetContainer2"></div>
    <div id="targetContainer3"></div>
    <div id="targetContainer4"></div>


    <div id="targetContainer5"></div>
    <div id="targetContainer6"></div>
    <div id="targetContainer8"></div>

    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=39ae003202ac27530ab1fb87d244af6d"></script>
    <script src="/public/static/select/MultiPicker/city.js"></script>
    <script src="/public/static/select/MultiPicker/time.js"></script>
    <script src="/public/static/select/MultiPicker/site.js"></script>
    <script src="/public/static/select/MultiPicker/MultiPicker.js"></script>

<script>
    //选择座位
    new MultiPicker({
        input: 'seatinput',//点击触发插件的input框的id
        container: 'targetContainer8',//插件插入的容器id
        jsonData: $site,
        success: function (arr) {
            console.log(arr)

          $("#seatinput").val(arr[0].value)


        }
        //回调
    });


//选择时间按钮

    new MultiPicker({
        input: 'time',//点击触发插件的input框的id
        container: 'targetContainer5',//插件插入的容器id
        jsonData: $time,
        success: function (arr) {
         console.log(arr)

           deltime(arr)


        }//回调
    });
//选择时间

    new MultiPicker({
        input: 'timebutoon',//点击触发插件的input框的id
        container: 'targetContainer6',//插件插入的容器id
        jsonData: $time,
        success: function (arr) {
            deltime(arr)


        }//回调
    });

//处理时间函数
    function deltime(arr) {
        var temp="";
        for(var i=0;i<arr.length;i++){
            if(arr[i].value=="今天"){
                arr[i].value=GetDateStr(0)
            }
            if(arr[i].value=="明天"){
                arr[i].value= GetDateStr(1)
            }
            if(arr[i].value=="后天"){
                arr[i].value= GetDateStr(2)
            }

            temp+=arr[i].value +"-"
        }
        temp=temp.substr(0, temp.length - 1);


        $("#time").val(temp)
    }


//获得日期
    function GetDateStr(AddDayCount) {
        var dd = new Date();
        dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
        var y = dd.getFullYear();
        var m = dd.getMonth()+1;//获取当前月份的日期
        var d = dd.getDate();
        return y+"-"+m+"-"+d+"日";
    }


//开始城市按钮
    new MultiPicker({
        input: 'startcitybutton',//点击触发插件的input框的id
        container: 'targetContainer',//插件插入的容器id
        jsonData: $city,
        success: function (arr) {

       var temp=delarr(arr,"startcity")


        }//回调
    });
    //---------------------函数调用结束---------------------
//结束城市按钮
    new MultiPicker({
        input: 'endcitybutton',//点击触发插件的input框的id
        container: 'targetContainer2',//插件插入的容器id
        jsonData: $city,
        success: function (arr) {
            var temp=delarr(arr,"endcity")


        }//回调
    });



//处理地址


    function delarr(arr,buttonid) {
        var temp="";
        var num=arr.length

        if(num==3){
           var p=["省","市",""]
        }else{
            var p=["市",""]
        }

        for(x in arr){


            if(arr[x].value!="请选择"){
                temp+=arr[x].value+p[x]+"-"
            }

        }

        temp=temp.substr(0, temp.length - 1);

        document.getElementById(buttonid).value = temp
        if(buttonid=="startcity"){
            $("#fromstartcity").val(temp)
        }
        else if(buttonid=="endcity"){

            $("#fromendcity").val(temp)
        }


      var start=  $("#startcity").val()
      var end=  $("#endcity").val()







        if(start&&end){
            start= start.split("-")
            end= end.split("-")
//            console.log(start)
//            console.log(end)
            var startnum=start.length
            var endnum=start.length


          if(startnum==3){
                startnum=0
              start=start[2]
          }else {
              startnum=0
              start=start[1]
          }

            if(endnum==3){
                endnum=0
                end=end[2]
            }else {
                endnum=0
                end=end[1]
            }



            $.ajax({
                async: false,
                type : "GET",
                url :"http://restapi.amap.com/v3/config/district?keywords="+start+"&subdistrict="+startnum+"&key=1491272c53955352d608aff9136780c4",
                complete: function(data){

                },
                success : function(data) {

                    start=data.districts[0].center
                }
            });

            $.ajax({
                async: false,
                type : "GET",
                url :"http://restapi.amap.com/v3/config/district?keywords="+end+"&subdistrict="+endnum+"&key=1491272c53955352d608aff9136780c4",
                complete: function(data){

                },
                success : function(data) {

                    end=data.districts[0].center
                }
            });

        console.log(start)
        console.log(end)
        $("#startline").val(start)
        $("#endline").val(end)

            getline(start,end)







        }




    }

    var startcity=""
    var endcity=""

    var map = new AMap.Map("mapContainer", {
        resizeEnable: true,

        zoom: 13,//地图显示的缩放级别
        keyboardEnable: false
    });



    AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
        var autoOptions = {
            city: "", //城市，默认全国
            input: "startcity"//使用联想输入的input的id
        };
        autocomplete= new AMap.Autocomplete(autoOptions);
        AMap.event.addListener(autocomplete, "select", function(e){
            //TODO 针对选中的poi实现自己的功能
            var temp= e.poi.district
            $("#fromstartcity").val(temp)

            startcity=e.poi.location.J+","+e.poi.location.N
           $("#startline").val(startcity)
//            console.log( $("#startline").val())
            getlineforward()

        });
    });


    AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
        var auto = {
            city: "", //城市，默认全国
            input: "endcity"//使用联想输入的input的id
        };
        autocomplete= new AMap.Autocomplete(auto);

        AMap.event.addListener(autocomplete, "select", function(e){
            //TODO 针对选中的poi实现自己的功能

            var temp= e.poi.district
            $("#fromendcity").val(temp)
            endcity=e.poi.location.J+","+e.poi.location.N
            $("#endline").val(endcity)
//            console.log(endcity)

            getlineforward()
        });

    });


    $("#endcity").change(function () {
        getlineforward()
    })
    $("#startline").change(function () {
        getlineforward()
    })


    function getlineforward() {
        var start=$("#startline").val()
        var end=$("#endline").val()

        if(start!=""&&end!=""){
            getline(start,end,0)
        }

    }

    $(".fangan").click(function () {
     var  strategy=$(this).data("fangan")

        var start=$("#startline").val()
        var end=$("#endline").val()

        if(start!=""&&end!=""){
            getline(start,end,strategy)
        }

    })


    function getline(start,end,strategy) {

        $.get("http://restapi.amap.com/v3/direction/driving?key=1491272c53955352d608aff9136780c4&origin="+start+"&destination="+end+"&extensions=base&strategy="+strategy,
            function (data) {
                console.log(data)

                var temp=data.route.paths[0].steps



                $("#distance").val(data.route.paths[0].distance)


                var mark="";

                var temproad="";
                for(var i=0;i<temp.length;i++){
                    if(temp[i].road){
                        if(temp[i].road.indexOf("入口")>0){

                        }
                        else if(temp[i].road.indexOf("出口")>0){

                        }
                        else {

                            if(mark!=temp[i].road){
                                temproad+=temp[i].road+","
                                mark=temp[i].road
                            }




                        }


                    }


                }

                $("#line").val(temproad)



        })
    }

$(".btn-danger").click(function () {
    $("#line").val("")
})

$("#tijiao").click(function () {




    $.ajax({
        cache: true,
        type: "POST",
        url:"{:url('/index/line/creatline')}",
        data:$('#road').serialize(),
        async: false,
        error: function(request) {
            alert("Connection error");
        },
        success: function(data) {
            $("#commonLayout_appcreshi").parent().html(data);
        }
    });


})

</script>



</div>
<!-- /.content-wrapper -->
{include file="footer" /}
