{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->
  {include file="left" /}

<style>

</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

      <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-black" style=" width: 100%;">
                  <h3 class="widget-user-username">车主信息:{$data.nickname}</h3>
                  <h5 class="widget-user-desc">{$data.sex}</h5>
              </div>
              <div class="widget-user-image">
                  <img class="img-circle" src="{$data.headimgurl}" alt="User Avatar">
              </div>
              <div class="box-footer">
                  <div class="row">
                      <div class="col-sm-4 border-right">
                          <div class="description-block">

                              <h5 class="description-header">联系电话:<a href="tel:{$data.tel}">{$data.tel}</a></h5>
                              <!--<span class="description-text">SALES</span>-->
                          </div>
                          <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 border-right">
                          <div class="description-block">
                              <h5 class="description-header">已预订：{$data.seat} </h5>
                              <!--<span class="description-text">FOLLOWERS</span>-->
                          </div>
                          <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.row -->
              </div>
          </div>
          <!-- /.widget-user -->
      </div>


      <center>
          <a style="margin-top:5px " href="#" class="btn btn-primary" onclick="WeixinJSBridge.call('closeWindow');"><i class="fa fa-download"></i> 关闭当前页</a>
      </center>
  </div>










<script>







 



</script>



<!-- /.content-wrapper -->
{include file="footer" /}
