{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->
  {include file="left" /}

<style>
  .header{
    width: 100%;
    height: 20em;
    background: darkgrey;
  }
  .header-image{
    height: 100px;
    width: 100px;
    bckground: red;
    border-radius: 50px;
    padding-top: 50px;

  }
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="header">
      <div class="header-image">

      </div>
    </div>
  </div>

<!-- /.content-wrapper -->
{include file="footer" /}
