{include file="top" /}
<!-- Left side column. contains the logo and sidebar -->
  {include file="left" /}

<style>
    .timeline:before{
        left: 0px;
    }
    .timeline>li>.timeline-item{
        margin-left: 12px;
        margin-right: -12px;
    }
    .timelinecity{
        /*font-size: 16px;*/
        float: left;
        margin-left: 10px;

    }
    .citylift{

    }
    .cityright{

    }

</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

      <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-black" style="background: url('../dist/img/photo1.png') center center; width: 100%;">
                  <h3 class="widget-user-username">{$Think.session.user.nickname}</h3>
                  <h5 class="widget-user-desc">{$Think.session.user.sex}</h5>
              </div>
              <div class="widget-user-image">
                  <img class="img-circle" src="{$Think.session.user.headimgurl}" alt="User Avatar">
              </div>
              <div class="box-footer">
                  <div class="row">
                      <div class="col-sm-4 border-right">
                          <div class="description-block">
                              <h5 class="description-header">8000/km</h5>
                              <!--<span class="description-text">SALES</span>-->
                          </div>
                          <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 border-right">
                          <div class="description-block">
                              <h5 class="description-header">{$Think.session.user.tel}</h5>
                              <!--<span class="description-text">FOLLOWERS</span>-->
                          </div>
                          <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.row -->
              </div>
          </div>
          <!-- /.widget-user -->
      </div>
      <div class="col-md-9">
          <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                  <!--<li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true"></a></li>-->
                  <li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">我的订单</a></li>
                  <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">编辑资料</a></li>
              </ul>
              <div class="tab-content">

                  <!-- /.tab-pane -->
                  <div class="tab-pane active" id="timeline">
                      <!-- The timeline -->
                      <ul class="timeline timeline-inverse">
                          <!-- timeline time label -->
                          <li class="time-label">
                              <span class="bg-red">今天 9:20</span>
                              <span class="bg-green">玛莎拉蒂</span>
                              <span class="bg-green">余座:3</span>
                              <span class="bg-green">费用:100/人</span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>

                              <div class="timeline-item">
                                  <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                  <!--<h3 class="timeline-header"><a href="#">出发地:</a> 郑州</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">目的地:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">费用:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">距离:</a> 南阳</h3>-->
                                  <div style="margin-top: 10px; overflow: hidden">
                                      <!--<span class="timelinecity citylift">郑州/金水区</span>-->
                                      <!--<span><i class="fa fa-fw fa-long-arrow-right"></i>400/km</span>-->
                                      <!--<span class="timelinecity cityright">郑州/金水区</p> </span>-->
                                      <div class="timelinecity citylift">郑州/金水区</div>
                                      <div class="timelinecity center">
                                          <div style="margin-top: -5px">400/km</div>
                                          <i class="fa fa-fw fa-long-arrow-right"></i>
                                          <!--<div>400/km</div>-->
                                      </div>
                                      <div class="timelinecity cityright">郑州/金水区</p> </div>
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">路线</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          从郑州金水区出发,走中州大道,在航海路上连霍高速,耗时3小时,行程400公里,大概下午3点到达目的地河南南阳市邓州市
                                      </div>
                                      <div class="box-body">
                                          备注信息
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <!--<h3 class="timeline-header" >-->
                                  <!--<a href="#">路线:</a>-->
                                  <!--<div class="timeline-body">路线描述</div>-->
                                  <!--</h3>-->



                                  <!--<div class="timeline-body" style="position: relative ;">-->
                                  <!--备注: 酒精发酵奥卡福就爱看啊放假卡迪夫卡打飞机卡迪夫拉开的方式结案开始打飞机两款发动机啊快递费打法就是地方啊-->

                                  <!--</div>-->
                                  <div class="timeline-footer">
                                      <a class="btn btn-primary btn-xs">Read more</a>
                                      <a class="btn btn-danger btn-xs">Delete</a>
                                  </div>
                              </div>
                          </li>
                          <li class="time-label">
                              <span class="bg-red">今天 9:20</span>
                              <span class="bg-green">玛莎拉蒂</span>
                              <span class="bg-green">余座:3</span>
                              <span class="bg-green">费用:100/人</span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>

                              <div class="timeline-item">
                                  <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                  <!--<h3 class="timeline-header"><a href="#">出发地:</a> 郑州</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">目的地:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">费用:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">距离:</a> 南阳</h3>-->
                                  <div style="margin-top: 10px; margin-bottom: 10px">
                                      <span class="timelinecity citylift">郑州/金水区</span>
                                      <span >400/km</span>
                                      <span class="timelinecity cityright">郑州/金水区</p> </span>
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">路线</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          从郑州金水区出发,走中州大道,在航海路上连霍高速,耗时3小时,行程400公里,大概下午3点到达目的地河南南阳市邓州市
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">备注</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          添加备注信息
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <!--<h3 class="timeline-header" >-->
                                  <!--<a href="#">路线:</a>-->
                                  <!--<div class="timeline-body">路线描述</div>-->
                                  <!--</h3>-->



                                  <!--<div class="timeline-body" style="position: relative ;">-->
                                  <!--备注: 酒精发酵奥卡福就爱看啊放假卡迪夫卡打飞机卡迪夫拉开的方式结案开始打飞机两款发动机啊快递费打法就是地方啊-->

                                  <!--</div>-->
                                  <div class="timeline-footer">
                                      <a class="btn btn-primary btn-xs">Read more</a>
                                      <a class="btn btn-danger btn-xs">Delete</a>
                                  </div>
                              </div>
                          </li>
                          <li class="time-label">
                              <span class="bg-red">今天 9:20</span>
                              <span class="bg-green">玛莎拉蒂</span>
                              <span class="bg-green">余座:3</span>
                              <span class="bg-green">费用:100/人</span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>

                              <div class="timeline-item">
                                  <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                  <!--<h3 class="timeline-header"><a href="#">出发地:</a> 郑州</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">目的地:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">费用:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">距离:</a> 南阳</h3>-->
                                  <div style="margin-top: 10px; margin-bottom: 10px">
                                      <span class="timelinecity citylift">郑州/金水区</span>
                                      <span >400/km</span>
                                      <span class="timelinecity cityright">郑州/金水区</p> </span>
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">路线</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          从郑州金水区出发,走中州大道,在航海路上连霍高速,耗时3小时,行程400公里,大概下午3点到达目的地河南南阳市邓州市
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">备注</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          添加备注信息
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <!--<h3 class="timeline-header" >-->
                                  <!--<a href="#">路线:</a>-->
                                  <!--<div class="timeline-body">路线描述</div>-->
                                  <!--</h3>-->



                                  <!--<div class="timeline-body" style="position: relative ;">-->
                                  <!--备注: 酒精发酵奥卡福就爱看啊放假卡迪夫卡打飞机卡迪夫拉开的方式结案开始打飞机两款发动机啊快递费打法就是地方啊-->

                                  <!--</div>-->
                                  <div class="timeline-footer">
                                      <a class="btn btn-primary btn-xs">Read more</a>
                                      <a class="btn btn-danger btn-xs">Delete</a>
                                  </div>
                              </div>
                          </li>
                          <li class="time-label">
                              <span class="bg-red">今天 9:20</span>
                              <span class="bg-green">玛莎拉蒂</span>
                              <span class="bg-green">余座:3</span>
                              <span class="bg-green">费用:100/人</span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>

                              <div class="timeline-item">
                                  <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                  <!--<h3 class="timeline-header"><a href="#">出发地:</a> 郑州</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">目的地:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">费用:</a> 南阳</h3>-->
                                  <!--<h3 class="timeline-header"><a href="#">距离:</a> 南阳</h3>-->
                                  <div style="margin-top: 10px; margin-bottom: 10px">
                                      <span class="timelinecity citylift">郑州/金水区</span>
                                      <span >400/km</span>
                                      <span class="timelinecity cityright">郑州/金水区</p> </span>
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">路线</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          从郑州金水区出发,走中州大道,在航海路上连霍高速,耗时3小时,行程400公里,大概下午3点到达目的地河南南阳市邓州市
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <div class="box box-warning" style="margin-bottom: 0;">
                                      <div class="box-header with-border">
                                          <h3 class="box-title">备注</h3>

                                          <div class="box-tools pull-right">
                                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                              </button>
                                          </div>
                                          <!-- /.box-tools -->
                                      </div>
                                      <!-- /.box-header -->
                                      <div class="box-body">
                                          添加备注信息
                                      </div>
                                      <!-- /.box-body -->
                                  </div>
                                  <!--<h3 class="timeline-header" >-->
                                  <!--<a href="#">路线:</a>-->
                                  <!--<div class="timeline-body">路线描述</div>-->
                                  <!--</h3>-->



                                  <!--<div class="timeline-body" style="position: relative ;">-->
                                  <!--备注: 酒精发酵奥卡福就爱看啊放假卡迪夫卡打飞机卡迪夫拉开的方式结案开始打飞机两款发动机啊快递费打法就是地方啊-->

                                  <!--</div>-->
                                  <div class="timeline-footer">
                                      <a class="btn btn-primary btn-xs">Read more</a>
                                      <a class="btn btn-danger btn-xs">Delete</a>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                      <form class="form-horizontal">
                          <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label">Name</label>

                              <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputName" placeholder="Name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                              <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label">Name</label>

                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputName" placeholder="Name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                              <div class="col-sm-10">
                                  <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                      <label>
                                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-danger">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
      </div>
  </div>

<!-- /.content-wrapper -->
{include file="footer" /}
